<h3 class="text-center">The most popular parkings </h3>
<div class="parent row">

    <div class="col-md-12">
        <ul>
            <div *ngFor="let parking of parkings">
                <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <mat-icon>local_parking</mat-icon>
                        </div>
                        <div style="min-width: 70%;">
                            <div>
                                <mat-card-title>{{parking.city}}, {{parking.street}} street</mat-card-title>
                                <mat-card-subtitle>{{parking.providerName}}</mat-card-subtitle>
                            </div>
                        </div>
                        <div style="width: 100%"></div>
                        <mat-icon style="color: #1e7e34">attach_money</mat-icon>
                        <p style="font-size: 18px;">{{parking.price}}</p>
                    </mat-card-header>

                    <mat-card-actions align="right">
                        <button mat-button routerLink='parkingdetail/2' color="primary">MORE INFO</button>
                    </mat-card-actions>
                </mat-card>
                <hr/>
            </div>
        </ul>
    </div>
</div>
<div class="row">
    <div class="filter offset-1 col-md-10" id="cont">
        <mat-divider style="border-color: purple;"></mat-divider>
        <mat-card class="card">
            <h6 [(ngModel)]="selectedStreet" [(ngModel)]="selectedCity" ngDefaultControl>Find the most popular parking
                by in <span>{{selectedCity}}</span> on the street: <span>{{selectedStreet}}</span></h6>
            <div class="row">

                <mat-form-field>
                    <mat-select [(value)]="selectedCity" placeholder="change city">
                        <mat-option *ngFor="let parkingsCity of parkingsCities" [value]="parkingsCity"
                                    (click)="theCityWasSelected()">
                            {{ parkingsCity }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-md-3">
                    <input matInput placeholder="find street" #streetSearchBox id="street-box"
                           (keyup)="findParkingsStreets(streetSearchBox.value)" [matAutocomplete]="auto2">
                    <mat-autocomplete #auto2="matAutocomplete">
                        <mat-option *ngFor="let parkingsStreet of parkingsStreets"
                                    (click)="theStreetWasSelected(parkingsStreet)"
                                    (click)="findBestParkingsByStreet(parkingsStreet)">
                            {{parkingsStreet}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</div>
