<mat-toolbar>
  <h3>
    <a routerLink="/" style="color:black; font-size: 25px">
      <img src="http://www.changiairport.com/content/dam/cag/3-transports/x3.0_transport-icon-big-7.png.pagespeed.ic.ypgOjLWv_Q.png" width="110px" height="70px">
      SmartParking
    </a>
  </h3>
  <span class="example-spacer"></span>
  <button [routerLink]="['/configuration']" mat-icon-button >
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-raised-button class="ml-3" color="primary" [routerLink]="['/login']" style="font-size:18px;">SignIn/SignUp
    <i class="material-icons">&#xE853;</i>
  </button>
</mat-toolbar>