<div class="container-fluid" *ngIf="!client" class="text-center">
        <div class="row mx-auto mt-3 center-block">
            <div class="col-6 mx-auto my-auto text-center">
                <mat-spinner mode="indeterminate" style="margin-left: 35%;"></mat-spinner>
            </div>
        </div>
    </div>
<div *ngIf="client">
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()"
          class="formstyle">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Enter your password" formControlName="password"
                       [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide" class="cursor">{{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
                    Password must contain more than 6 characters
                </mat-error>
                <mat-error *ngIf="passwordControl.hasError('maxlength') && !passwordControl.hasError('required')">
                    Password must contain less than 16 characters
                </mat-error>
                <mat-error *ngIf="passwordControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Confirm your password" formControlName="confirmPassword"
                       [type]="hide ? 'password' : 'text'">
                <mat-error
                        *ngIf="confirmPasswordControl.hasError('MatchPassword') && !confirmPasswordControl.hasError('required')">
                    Passwords doesn`t match
                </mat-error>
                <mat-error
                        *ngIf="confirmPasswordControl.hasError('minlength') && !confirmPasswordControl.hasError('required')">
                    Password must contain more than 6 characters
                </mat-error>
                <mat-error
                        *ngIf="confirmPasswordControl.hasError('maxlength') && !confirmPasswordControl.hasError('required')">
                    Password must contain less than 16 characters
                </mat-error>
                <mat-error *ngIf="confirmPasswordControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <button mat-raised-button type="submit" color="primary" [disabled]="!passwordForm.valid">Submit</button>
        </div>
    </form>
</div>
