<h3 class="text-center">Providers list:</h3>
<div class="row">
    <div class="col-md-3">
        <ul>
            <div>Filtering:</div>
            <p>By state: <input type="hidden" value="tr"></p>
            <form class="example-form" [formGroup]="providerFilterForm" (ngSubmit)="getProviders()">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Company name" formControlName="companyName">
                </mat-form-field>
                <hr class="hr-red"/>
                <div class="radio">
                    <label><input formControlName="active" type="radio" value="true"> Active</label>
                </div>
                <div class="radio">
                    <label><input formControlName="active" type="radio" value="false"> Non active</label>
                </div>
                <div class="radio disabled">
                    <label><input formControlName="active" type="radio" value="all"> All</label>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button mat-raised-button color="primary" class="mt-5">Search</button>
                    </div>
                </div>
            </form>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <div *ngFor="let provider of providers">
                <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <mat-icon>local_parking</mat-icon>
                        </div>
                        <div style="min-width: 70%;">
                            <div>
                                <mat-card-title>{{provider.city}}, {{provider.street}} street, {{provider.building}}
                                </mat-card-title>
                                <mat-card-subtitle>{{provider.name}}</mat-card-subtitle>
                            </div>
                        </div>
                        <div style="width: 100%"></div>
                    </mat-card-header>

                    <mat-card-actions align="right">
                        <button mat-button routerLink='{{provider.id}}' color="primary">MORE INFO</button>
                        <button mat-button routerLink="/configuration/provider/update/{{provider.id}}" color="warn">EDIT</button>
                    </mat-card-actions>
                </mat-card>
                <hr/>
            </div>
        </ul>
    </div>
    <div class="col-md-2">
        <h4>Statistic</h4>
        <p><b>All:</b> {{providerStatistic.allAmount}}</p>
        <p><b>Active:</b> {{providerStatistic.activeAmount}}</p>
        <p><b>Non active:</b> {{providerStatistic.nonactiveAmount}}</p>
        <button mat-raised-button routerLink='/configuration/provider/add' color="primary" class="mt-5 full-width">Add
            provider
        </button>
    </div>
</div>

