.button {
    display: block;
    color: #54456f;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.col-md-3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.col-lg-6 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

b {
    color: darkred;
}

.form-control{
    margin: 10px;
}

.text-center {
    margin: 5px;
}








