<h2>Clients List</h2>
<div class="table-container">
    <input #searchBox id="search-box" (keyup)="findClientsFromBackEnd(searchBox.value)"
           placeholder="search">
    <div id="buttons">
        <button class="btn btn-outline-danger"
                (click)="getAllClients()">Show all clients
        </button>
        <button class="btn btn-outline-danger"
                (click)="findDrivers()">Find drivers
        </button>
        <button class="btn btn-outline-danger"
                (click)="findProviderManagers()">Find managers
        </button>
        <button class="btn btn-outline-danger"
                (click)="findSuperusers()">Find superusers
        </button>
    </div>
    <table class="table table-filter">
        <tbody>
        <app-client-item
                *ngFor="let client of pagedClientItems"
                [client]="client"
        ></app-client-item>

        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>

        </tbody>
    </table>
</div>`


