.button {
    display: block;
    color: #54456f;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.col-md-3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

b {
    color: darkred;
}

/*.filter {*/
    /*position: fixed;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*!*max-height: 15%;*!*/
/*}*/



