<p>
    parking-list works!
</p>
<ul>
    <!--*ngFor="let hero of heroes"-->
    <li>
        <p>Address</p>
        <table class="table">
            <tr>
                <th class="text-center">Address</th>
                <th class="text-center">Spots count</th>
                <th class="text-center">Price</th>
                <th class="text-center">
                    <a>Price</a>
                </th>
            </tr>
            <tr>
                <td class="text-center">
                    Address
                </td>
                <td class="text-center">
                    5
                </td>
                <td class="text-center">18</td>
            </tr>
        </table>
    </li>
</ul>