<div class="container-fluid" *ngIf="!client" class="text-center">
        <div class="row mx-auto mt-3 center-block">
            <div class="col-6 mx-auto my-auto text-center">
                <mat-spinner mode="indeterminate" style="margin-left: 35%;"></mat-spinner>
            </div>
        </div>
    </div>
<div *ngIf="client">
    <br/>
    <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                        <img src="data:image/JPEG;base64,{{client.image}}" style="width: 200px; height:200px;" class="rounded-circle">
                </div>
                <div class="col-8">
                        <div style="min-width: 70%;">
                                <div>
                                    <mat-card-title id="role"><span>Role:</span> {{client.role}}
                                    </mat-card-title>
                                    <mat-card-title><span>Your name:</span> {{client.firstName}} {{client.lastName}}
                                    </mat-card-title>
                                    <mat-card-title><span>Email:</span> {{client.email}}</mat-card-title>
                                    <mat-card-title *ngIf="client.favoritesNames.length!=0">
                                        <span>Favorites parkings: </span>
                                        <span *ngFor="let favoriteName of client.favoritesNames">{{favoriteName}}, </span>
                                    </mat-card-title>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        <mat-card-actions>
            <div class="row">
                <div class="col-10">
                    <div class="w-100"></div>
                </div>
                <div class="col-2">
                        <button mat-button (click)="goToProfileEdit()" color="warn">Go to edit form</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>





