span {
    color: #54456f;
    font-weight:bold;
}

#role{
    color: coral;
}

#prov {
    text-decoration: underline;
    cursor: pointer;
}

#details{
    color: #039be5;
}

.photo-thumbnail {
    border-radius: 30px;
    border: 1px solid #ddd;
    position: relative;
    vertical-align: middle;
    width: 8em;
    height: 8em;
    left: 77%;
}

#main-info{
    float: left;
}