<h3 class="text-center">Providers list:</h3>
<ul>
    <div *ngFor="let provider of providers">
        <!--<ngb-alert type="dark" [dismissible]="false">
            <h3><b><i>Address: </i></b>state {{parking.addressDto.state}}, city {{parking.addressDto.city}}, street
                {{parking.addressDto.street}}, number {{parking.addressDto.buildingNumber}}</h3>
            <p><b><i>Provider name:</i></b> {{parking.providerDto.name}}</p>
            <p><b><i>Price:</i></b> {{parking.price}}</p>
            <div>
                <a href="#" target="_blank" class="btn btn-success">More Info</a>
            </div>
        </ngb-alert>-->
        {{provider.id}}
    </div>
</ul>