<tr data-status="pagado">
    <td>
        <div class="media">
            <a href="#" class="pull-left">
                <img id="clientImage" src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                     class="media-photo">
            </a>
            <div class="media-body">
                <h6 [ngStyle]="{'color': client.role === 'SUPERUSER' ? 'red' : 'black'}">
                    id:{{client.id}},{{client.role}}</h6>
                <span class="media-meta pull-right">{{client.email}}</span>
                <h4 class="title">
                    {{client.firstName}} {{client.lastName}}
                </h4>
            </div>
        </div>
    </td>
    <td>
    </td>
    <button type="button" class="btn btn-success">Edit Client</button>
    <a routerLink='{{client.id}}' class="btn btn-primary">More info</a>
</tr>