<div id="clientItem">
    <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
        <mat-card-header>
            <div style="min-width: 70%;">
                <div>
                    <img *ngIf="client.image; else noPhoto" src="data:image/JPEG;base64,{{client.image}}"
                         class="photo-thumbnail">

                    <ng-template #noPhoto>
                        <img class="photo-thumbnail"
                             src='assets/images/no-photo-icon.png'>
                    </ng-template>
                    <mat-card-title>{{client.firstName}} {{client.lastName}}
                    </mat-card-title>
                    <mat-card-subtitle
                            [ngStyle]="{'color': client.role === 'SUPERUSER' ? 'orange' : 'green'}">
                        {{client.role}}
                    </mat-card-subtitle>
                    <mat-card-subtitle>{{client.email}}</mat-card-subtitle>
                </div>
            </div>
            <div style="width: 100%"></div>
        </mat-card-header>

        <mat-card-actions align="right">
            <button mat-button routerLink='{{client.id}}' color="primary">MORE INFO</button>
            <button mat-button routerLink='edit/{{client.id}}' color="warn">
                EDIT
            </button>
        </mat-card-actions>
    </mat-card>
</div>